body{font-family:'Pretendard Variable',Pretendard,'Malgun Gothic',sans-serif}
#labels h2{color:#eac08a;font-weight:450;font-size:clamp(25px,2.8vw,54px);letter-spacing:-1.8px;margin-top:15px}
#labels{padding-bottom:20px;border-bottom:1px solid #b57b4050;width:47%;text-shadow:0 0 26px #ed982024}
#labels small{color:#baa991;font:11px Consolas,monospace;letter-spacing:2.6px}
#title{font-weight:450;letter-spacing:-2.6px}
@media(max-width:800px){#labels{width:55%}#labels h2{font-size:24px}}
